.logo {
    width: 100%;
    height: 250px;
    padding: 5px;
}

.media p{
    text-align: justify;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
 height: 50%;
}